@inherits LayoutComponentBase
@implements IDisposable
@using deskord_server.Models
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;
@inject NavigationManager NavigationManager;

<div class="page">
    <!-- <div class="sidebar">
        <NavMenu />
    </div> -->

    <main>
        <div class="top-row px-4">
                <a class="login-link" href="/login">@loginText</a>
        </div>  

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
 private string loginText = "Login";

    protected override void OnInitialized() {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        loginText = await GetLoginText();
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            loginText = await GetLoginText();
            StateHasChanged();
        }
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task<string> GetLoginText() {
        if (await sessionStorage.ContainKeyAsync("user")) {
            var user = await sessionStorage.GetItemAsync<User>("user");
            return user.email == null ? "Login" : "Logout (@" + user.email + ")";
        }
        else {
            return "Login";
        }
    }
}