@using Microsoft.VisualBasic
@using System.Drawing
@using deskord_server.Data
@using deskord_server.Models
@inject AppDbContext AppDbContext

@code {
    [Parameter]
    public required Desk Desk {get; set; }

    private string GetStatusColor() {
        return Desk.occupiedby == null ? $"green" : $"red";
    }

    private string GetStatus() {
        return Desk.occupiedby == null ? $"Available" : Desk.occupiedby;
    }

    private void HandleReserve() {
        Desk.occupiedby = "USER";
        DbInterface.Save(AppDbContext);
        return;
    }
}
<div class="container mt-5 border rounded">
    <div class="d-flex justify-content-between align-items-center">
            <span style="color: black;">@Desk.deskid</span>
            <span style="color: @GetStatusColor()">@GetStatus()</span>
            <button class="btn btn-primary" @onclick="HandleReserve">Make Reservation</button>
        </div>
</div>
