@using Microsoft.VisualBasic
@using System.Drawing
@using deskord_server.Data
@using deskord_server.Models
@inject AppDbContext AppDbContext
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

@code {
    [Parameter]
    public required Desk Desk {get; set; }

    private string GetStatusColor() {
        return Desk.occupiedby == null ? $"green" : $"red";
    }

    private string GetStatus() {
        return Desk.occupiedby == null ? $"Available" : Desk.occupiedby;
    }

    private async Task HandleReserve() {
        if (await sessionStorage.ContainKeyAsync("user")) {
            var user = 
                await sessionStorage.GetItemAsync<User>("user");
            Console.WriteLine("STORED USER: {user}");
            Desk.occupiedby = user.fullname;
            await DbInterface.Save(AppDbContext, [Desk]);
        }
        else {
            var logdata = await sessionStorage.KeysAsync();
            Console.WriteLine("NO STORED USER: {0}", logdata);
        } 
        return;
    }
}
<div class="container mt-5 border rounded">
    <div class="d-flex justify-content-between align-items-center">
            <span style="color: black;">@Desk.deskid</span>
            <span style="color: @GetStatusColor()">@GetStatus()</span>
            <button class="btn btn-primary" @onclick="HandleReserve">Make Reservation</button>
        </div>
</div>
