@page "/login"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using deskord_server.Data
@using deskord_server.Models
@inject NavigationManager NavigationManager
@inject AppDbContext AppDbContext
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<h3>Login</h3>

<EditForm Model="Model" FormName="LoginForm" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="Model!.Username" />
    </div>

    <div>
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="Model!.Password" />
    </div>

    <button type="submit">Login</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private UserModel? Model {get; set;}

    protected override void OnInitialized() => Model ??= new();

    private async Task HandleLogin()
    {
        if (Model == null || 
            string.IsNullOrWhiteSpace(Model.Username) ||
            string.IsNullOrWhiteSpace(Model.Password))
        {
            NavigationManager.NavigateTo("/failed_login");
        }
        else 
        {
            var userdata = await DbInterface.FindUser
                                    (AppDbContext, Model.Username);
            CheckLogin(Model.Password, userdata);
        }

        // Dummy authentication
        //@* if (Model?.Username == "testuser" && Model?.Password == "password")
        //{
        // Simulate login success
        //NavigationManager.NavigateTo("/"); *@
        //}
        //else
        //{
        //NavigationManager.NavigateTo("/failed_login");
        //}
    }

    private async Task CheckLogin(string password, User? user) 
    {
        Console.WriteLine("TRIGGERED LOGIN");
        if (user != null
            && string.Equals(password, user.password)) 
        {
            await sessionStorage.SetItemAsync("user", user);
            Console.WriteLine("SET ITEM: {0}", user);
            Console.WriteLine("IN STORE: {0}", 
                                await sessionStorage.KeysAsync());
            NavigationManager.NavigateTo("/");
        }
        else NavigationManager.NavigateTo("/failed_login");
    }

    public class UserModel
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
    }
}
